*{
    padding: 0;
    margin: 0;
}
header{
    height: 150px;
}
header .logo{
    float: left;
}
header nav{
    float: right;
   
    
}
header nav ul li{
    display: inline-block;
    padding-top: 40px;
    position: relative;
    right: 120px;
    text-indent: 30px;
   
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
header .logo{
    padding-left: 20px;
    padding-top: 30px;
}

main .description{
    background-color: rgb(70, 67, 67);
    height: 200px;
    position: relative;
    bottom: 50px;
}
main .description h1{
    float: left;
    padding-left: 90px;
    font-size: 40px;
    color: white;
    padding-top: 20px;

}
main .description p{
    float: right;
    color: white;
    padding-top: 20px;
}
main .description p span{
    position: relative;
    top: 90px;
    left: 190px;
    font-weight: bolder;
    color: white;
    padding-top: 20px;
}
main article .article1{
    float: left;
    padding-left: 80px;
}
main article .article1 h3{
    padding-left: 190px;
    position: relative;
    bottom: 100px;
    text-transform: capitalize;
}
main article .article1 form{
    padding-left: 220px;
    position: relative;
    bottom: 100px;
}
main article .article1 input[type=button]{
    width: 50%;
    height: 25px;
    background-color: rgb(34, 34, 53);
    cursor: pointer;
    color: white;
}
main article .article1 p{
    padding-left: 190px;
    position: relative;
    bottom: 100px;
    padding-bottom: 15px;
}
main article .article2{
    float: right;
    padding-right: 200px;
}
main article  h3{
    padding-left: 190px;
    position: relative;
    bottom: 150px;
    text-transform: capitalize;
}
main article .article2 p{
   padding-right: 100px;
   position: relative;
   left: 188px;
   bottom: 150px;
   padding-bottom: 15px;

}
main article .article2 form{
    padding-left: 220px;
    position: relative;
    bottom: 150px;
}
main article .article2 input[type=button]{
    width: 70%;
    height: 25px;
    background-color: rgb(34, 34, 53);
    cursor: pointer;
    color: white;
}
footer{
    padding-top: 200px;
    
}
footer p pre{
    text-transform: capitalize;
    font-weight: bolder;
    
}